* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #FFFEFE;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
}

.container {
  width: 90%;
  height: 90%;
  background-color: #F3F4F6;
  position: relative;
  border-radius: 40px;
}

#decor {
  position: absolute;
}

.grid-box {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 50%);
  gap: 0;
}

.itm1 {
  grid-column: 1 / span 2;
  background-color: transparent;
  padding-left: 40px;
  padding-top: 60px;
  justify-self: start;
  align-self: start;
  z-index: 1;
}

.itm1 p:nth-child(1) {
  color: #263FA9;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 20px;
}

.itm1 h1 {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.itm1 p {
  color: #394150;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  width: 80%;
}

.itm-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(resources/Gradient.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.itm-img img {
  position: absolute;
    width: 100%;
    height: auto;
    bottom: 0px;
}

.itm-img h2, .itm-img p {
  font-family: 'Outfit', sans-serif;
  color: #FFFEFE;
}

.itm-img h2 {
  font-size: 1.25rem;
  font-weight: 600;
  padding-left: 20px;
  padding-top: 10px;
}

.itm-img p {
  font-size: 1rem;
  font-weight: 400;
  padding-left: 20px;
  padding-top: 10px;
}

.itm2 {
  background-color: #C1B6F8;
}

.itm3 {
  background-color: #EDACD2;
}

.itm5 {
  background-color: #9DC4F8;
}

.itm6 {
  background-color: #F8D8B0;
}

.itm7 {
  background-color: #86E7D4;
}

.itm4 {
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #394150;
}

.itm4 p {
  display: flex;
  align-items: end;
  justify-content: start;
  height: 100%;
  padding: 30px;
}

.mask {
  position: absolute;
  width: 90%;
  height: 90%;
  background-color: transparent;
  border-radius: 40px;
  outline: #ffffff 20px solid;
  z-index: 2;
}

@media (max-width: 1024px) {
  .grid-box {
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.33%);
    grid-template-areas: ' itm1 itm1 itm1 '
                         'itm2 itm3 itm5 '
                         'itm4 itm6 itm7 ';
  }

  .itm1 {
    grid-area: itm1;
    padding-top: 20px;
  }
  .itm2 {
    grid-area: itm2;
  }
  .itm3 {
    grid-area: itm3;
  }
  .itm4 {
    grid-area: itm4;
  }
  .itm5 {
    grid-area: itm5;
  }
  .itm6 {
    grid-area: itm6;
  }
  .itm7 {
    grid-area: itm7;
  }

}

@media (max-width: 640px) {

  .grid-box {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(7, 430px);
  }

  .container {
  width: 95%;
  height: 100%;
}

mask {
  display: none;
}


  .itm-img {
    background-image: url(resources/Gradient@2x.png);
    height: 430px;
  }

  .itm-img img {
    height: 100%;
  }

}